<% include ./partials/header %>
    <div class="col-9">
        <div class="row">
            <form action="/process/refund" class="col-12 form-horizontal" method="post">
                <h3>Refund</h3>
                <div class="alert alert-warning" role="alert">
                    This API operation is typically not a browser initiated action. However, we are calling this action from browser only as
                    a reference to get an idea of how it can be done through your application.
                </div>
                <fieldset>
                    <input type="hidden" value="<%= transctionId %>" name="transactionId" />
                    <input type="hidden" value="REFUND" name="apiOperation" />
                    <input type="hidden" value="PUT" name="apiMethod" />
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-id">Order ID</label>
                        <div class="col-md-7">
                            <input id="order-id" name="orderId" type="text" placeholder="[ORDER ID FROM EXISTING ORDER]" class="form-control input-md"
                                required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-amount">Amount</label>
                        <div class="col-md-7">
                            <input id="order-amount" name="orderAmount" type="text" placeholder="[Amount less than or equal to the authorized amount]"
                                class="form-control input-md" required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-currency">Currency</label>
                        <div class="col-md-7">
                            <input id="order-currency" name="orderCurrency" type="text" placeholder="[Currency from existing authorization]" class="form-control input-md"
                                required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="process"></label>
                        <div class="col-md-7">
                            <button id="process" name="process" class="btn btn-primary">Process Refund</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    </div>
    </div>
    </body>

    </html>